body{
    background: rgb(50, 50, 50);

}

.headline{
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    /*background: #476072;*/
    /*background: #5d5c31;*/
    background: #E64833; 
    margin-top: 0;
    padding: 10px;
}

.card{
    display: flex;
    flex-direction: column;
    height: 750px;
    /*background: #5d5c31;*/
    background: rgb(50, 50, 50);    
    padding: 20px;
    
    
    
}

div{
    align-content: center;
    padding-left: 50px;
    
}

.r1{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    /*background: #8C2B32;*/
    background: #E64833;  
    background-image: url(./recipes/grilled-greek-chicken.webp);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 33%;
    flex-grow: 1;
}

.r2{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    /*background-color: #964734;*/
    background: white;
    background-image: url(./recipes/spicy-baked-shrimp\ 2.webp);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 33%;
    flex-grow: 1;
}

.r3{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    background: #E64833;  
    background-image: url(./recipes/korean-beef-bowl.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 33%;
    
    flex-grow: 1;
}